@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body,
html,
div.board,
div#react-container {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

div.board {
  background-color: brown;
  width: 100%;
  height: 1000px;
  background: #eab92d;
  background: -moz-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #eab92d), color-stop(99%, #c79810));
  background: -webkit-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
  background: -o-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
  background: -ms-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
  background: radial-gradient(ellipse at center, #eab92d 57%, #c79810 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);

}

div.note {
  height: 150px;
  width: 150px;
  background-color: yellow;
  margin: 2px 0;
  position: relative;
  cursor: -webkit-grab;
  -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

div.note:active {
  cursor: -webkit-grabbing;
}

div.note p {
  font-size: 22px;
  padding: 5px;
  font-family: "Shadows Into Light", Arial;
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .25s linear;
}

div.note button {
  margin: 2px;
}

div.note > textarea {
  height: 75%;
  background: rgba(255, 255, 255, .5);
}

div.board button {
  color: #fff;
  font-size: 14px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}

#add {
  background-color: #5cb85c;
  height: 3em;
}

#edit {
  background-color: #337ab7;
}

#save {
  background-color: #5cb85c;
}

#remove {
  background-color: #d9534f;
}
